.card {
  border: none;
  border-radius: 1.5rem;
  width: fit-content;
  margin: 1rem;
  padding: .5rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-color: rgb(21, 28, 23);
}

.btn { 
  background-color: red;
  border-radius: .2rem;
  padding: .2rem;
  margin: .5rem;
  color: white;
  font-weight: 600;
  transition: .1s;
}

.btn:hover {
  color: red;
  background-color: white;
  
}

.name {
  color: white;
  display: flex;
  font-size: 1.8rem;
  line-height: .5rem;
  margin-top: .7rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.name:hover{
  cursor: pointer;
  transform: scale(1.2);
  color: #73e02ae7;
  text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(81, 255, 110, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
}

.title {
  color: white;
  display: flex;
  font-size: 1rem;
  line-height: .5rem;
  font-weight: 500;
  margin-top: 1.2rem;
  align-items: center;
  justify-content: center;


}

.img {
  border-radius: 2rem;
}

.link{
  color: aliceblue;
  text-decoration: none;
  flex-direction: row;
}