.container{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerInfo{
    background-color: rgb(33, 29, 59);
    border: transparent;
    border-radius: .5rem;
    font-weight: 300;
}
