.title {
    color: white;
 }
 
 .info {
     color: white;
 }

 .btn {
    background-color: white;
    color: black;
    font-size: medium;
    border-radius: .5rem;
    margin: .2rem;
    padding: .3rem;
    cursor: pointer;
    transition: .3s;
    height: 2.3rem;
    width: 5rem;
  }
  
  .btn:hover {
    color: white;
    background-color: rgb(195, 247, 253);
  }
 